Repository afkcodes/sunoh-api: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, biome format --write

.lintstagedrc.json:

{
  "*.ts": ["npm run lint", "npm run format"],
  "*.json": "biome format --write"
}

fix: use searchQuery as stationIdentifier when artistId is missing for radio
  src/music/controller.ts
Due: npm run lint, npm run format

fix(radio): Add language and stationType to Channle, update mappers and controller
  src/mappers/gaana.mapper.ts
  src/mappers/saavn.mapper.ts
  src/music/controller.ts
  src/types/index.ts
Due: npm run lint, npm run format

feat(saavn): enabled webradio endpoints and improved song mapping id resolution
  src/helpers/dataConfig.ts
  src/mappers/saavn.mapper.ts
  src/music/route.ts
  src/saavn/controller.ts
  src/saavn/helper.ts
  src/saavn/route.ts
  src/types/index.ts
Due: npm run lint, npm run format

feat(radio): implemented gaana radio detail and support for artist/featured saavn stations
  src/app.ts
  src/gaana/controller.ts
  src/gaana/route.ts
  src/saavn/controller.ts
  src/saavn/route.ts
Due: npm run lint, npm run format

feat(radio): implemented unified radio wrapper with session-based playback
  README.md
  src/music/controller.ts
  src/music/route.ts
Due: npm run lint, npm run format

fix(radio): use correct controller for featured station creation
  src/music/controller.ts
Due: npm run lint, npm run format

fix(gaana): update radio type to radio_station for consistent handling
  src/mappers/gaana.mapper.ts
  src/types/index.ts
Due: npm run lint, npm run format

fix(saavn): correct params for featured station creation (lang pref, empty query)
  src/saavn/controller.ts
Due: npm run lint, npm run format

fix(saavn): ensure language params are sent in all fetch calls
  src/saavn/controller.ts
Due: npm run lint, npm run format

fix(saavn): robust radio songs mapper and enhanced debug logging
  src/saavn/controller.ts
  src/saavn/helper.ts
Due: npm run lint, npm run format

feat: unify artist search across providers and fix playback for singles
  src/gaana/controller.ts
  src/helpers/http.ts
  src/music/controller.ts
  src/music/route.ts
  src/redis.ts
  src/saavn/controller.ts
  src/saavn/helper.ts
Due: npm run lint, npm run format

feat: improve unifiedArtistController to handle Gaana SEO keys without provider param
  src/music/controller.ts
Due: npm run lint, npm run format

feat(radio): implement global radio station scraper with smart pagination and ISO mapping
  .gitignore
  docker-compose.yml
  package-lock.json
  package.json
  src/app.ts
  src/helpers/db.ts
  src/helpers/initDb.ts
  src/radio/controller.ts
  src/radio/route.ts
  src/radio/scrapers/air/air.ts
  src/radio/scrapers/metadata/countries.txt
  src/radio/scrapers/metadata/countries_full.json
  src/radio/scrapers/metadata/countries_iso_map.json
  src/radio/scrapers/mytuner/mytuner.sh
  src/radio/scrapers/mytuner/mytuner_countries.txt
  src/radio/scrapers/mytuner/mytuner_fetcher.js
  src/radio/scrapers/mytuner/run_mytuner.sh
  src/radio/scrapers/onlineradiobox/onlineradiobox.sh
  src/radio/scrapers/onlineradiobox/onlineradiobox.ts
  src/radio/scrapers/onlineradiobox/orb_fetcher.js
  src/radio/scrapers/run_all.sh
  src/radio/scrapers/utils/count_stations.sh
  src/radio/scrapers/utils/count_unique.py
  src/radio/scrapers/utils/generate_complete_iso.py
  src/radio/scrapers/utils/generate_iso_map.py
  src/radio/scrapers/utils/ingest.py
  src/radio/service.ts
  src/radio/types.ts
Due: npm run lint, npm run format, biome format --write

fix: include final smart pagination tweaks for radio fetchers
  src/radio/scrapers/mytuner/mytuner_fetcher.js
  src/radio/scrapers/onlineradiobox/orb_fetcher.js
Due: none

fix(radio): add ffprobe fallback and update server setup guide for robust stream validation
  src/radio/scrapers/SETUP.md
  src/radio/scrapers/onlineradiobox/onlineradiobox.sh
Due: none

fix(radio): prioritize ffprobe over vlc for accurate stream validation
  src/radio/scrapers/mytuner/mytuner.sh
  src/radio/scrapers/onlineradiobox/onlineradiobox.sh
Due: none

fix(radio): use ffprobe exclusively for accurate and server-friendly stream validation
  src/radio/scrapers/SETUP.md
  src/radio/scrapers/mytuner/mytuner.sh
  src/radio/scrapers/onlineradiobox/onlineradiobox.sh
Due: none

feat(radio): move stream validation to ingestion phase with parallel ffprobe checks
  src/radio/scrapers/mytuner/mytuner.sh
  src/radio/scrapers/onlineradiobox/onlineradiobox.sh
  src/radio/scrapers/utils/ingest.py
Due: none

feat(radio): implement modular multi-provider ingestion workflow with resilient schema
  src/helpers/initDb.ts
  src/radio/scrapers/plan.md
  src/radio/scrapers/utils/ingest.py
Due: npm run lint, npm run format

feat(radio): integrate adblocker to solve puppeteer navigation timeouts
  package.json
  src/radio/scrapers/air/air.ts
  src/radio/scrapers/onlineradiobox/onlineradiobox.ts
  src/radio/scrapers/onlineradiobox/orb_fetcher.js
Due: npm run lint, npm run format, biome format --write

chore(radio): finalize modular ingestion scripts and type definitions
  package-lock.json
  src/radio/scrapers/onlineradiobox/orb_fetcher.js
  src/radio/scrapers/utils/sync_to_db.ts
  src/radio/types.ts
Due: npm run lint, npm run format, biome format --write

fix(radio): harden stream validation to prevent false positives
  src/radio/scrapers/mytuner/mytuner.sh
  src/radio/scrapers/onlineradiobox/onlineradiobox.sh
Due: none

fix(radio): add User-Agent to ffprobe to bypass 403 blocks
  src/radio/scrapers/mytuner/mytuner.sh
  src/radio/scrapers/onlineradiobox/onlineradiobox.sh
Due: none

fix(radio): refine pagination safety break in onlineradiobox.sh
  src/radio/scrapers/onlineradiobox/onlineradiobox.sh
Due: none

feat(radio): improve scraper robustness and increase page limits
  src/radio/scrapers/onlineradiobox/onlineradiobox.sh
  src/radio/scrapers/onlineradiobox/onlineradiobox.ts
  src/radio/scrapers/plan.md
  src/radio/scrapers/run_all.sh
  src/radio/scrapers/utils/ingest.py
  src/radio/scrapers/youradio/youradio.py
Due: npm run lint, npm run format

feat(radio): add initial scraped data for 230+ countries
  scraped_data/Mexico/onlineradiobox.json
  scraped_data/South Africa/onlineradiobox.json
  scraped_data/Turkey/onlineradiobox.json
  scraped_data/United Kingdom/onlineradiobox.json
  scraped_data/Venezuela/onlineradiobox.json
  scraped_data/YouRadio/youradio.json
Due: biome format --write

fix(radio): increase stream validation timeout to 15s for slow servers
  src/radio/scrapers/onlineradiobox/onlineradiobox.sh
  src/radio/scrapers/onlineradiobox/onlineradiobox.ts
Due: npm run lint, npm run format

fix(radio): add missing BASE_URL definition in shell scraper
  src/radio/scrapers/onlineradiobox/onlineradiobox.sh
Due: none

feat(radio): add standalone stream validation utility and update ingest.py
  src/radio/scrapers/utils/ingest.py
  src/radio/scrapers/utils/validate_stream.py
Due: none

feat(saavn): implement channel details API and unify occasions
  src/config/config.ts
  src/mappers/saavn.mapper.ts
  src/music/route.ts
  src/saavn/controller.ts
  src/saavn/helper.ts
  src/saavn/route.ts
Due: npm run lint, npm run format

feat(saavn): improve channel details fetching with token support and better mapping robustness
  src/config/config.ts
  src/saavn/controller.ts
  src/saavn/helper.ts
Due: npm run lint, npm run format

fix(saavn): use numeric id for channels to fix blank screen issue
  src/mappers/saavn.mapper.ts
  src/music/route.ts
Due: npm run lint, npm run format

fix(api): channels playlist sending id instead of token
  src/saavn/controller.ts
Due: npm run lint, npm run format
